# Setup

In [1]:
# Import libraries/modules

import pandas as pd
import sqlalchemy
import sql_functions as sf

In [2]:
# Define global variables

sql_config = sf.get_sql_config() # Function loads credentials from a .env file and returns a dictionary with credentials
engine = sqlalchemy.create_engine('postgresql://user:pass@host/database', # Creates a connection object called engine
                                  connect_args=sql_config)
schema = 'capstone_kueblbeck' # Schema in our Postgresql database

In [3]:
# Other settings

pd.options.display.max_columns = 30
pd.options.display.float_format = "{:,.2f}".format

# Loading Dataframes

In [4]:
sql_query = f'select * from {schema}.lagerbestand'
df_lagerbestand = sf.get_dataframe(sql_query)
df_lagerbestand.head()

,Lfnr,Artnr,Index,Beschr.,BKZ,VPE,St.gr.,Ltz. VK ges.,Basispreis,Basispr. Summe,Gesamt,WEN,Ltz. VK WEN,RGB,Ltz. VK RGB,AMB,Ltz. VK AMB,CHA,Ltz. VK CHA,STR,Ltz. VK STR,PAS,Ltz. VK PAS,LAN,Ltz. VK LAN,MÜH,Ltz. VK MÜH,ROS,Ltz. VK ROS
0,Summe,Summe,Summe,Summe,Summe,Summe,Summe,03.06.2023,"22.137.471,28","9.973.936,32",1.084.309,763.51,03.06.2023,61.07,02.06.2023,31.03,02.06.2023,24.47,02.06.2023,55.65,02.06.2023,39.31,02.06.2023,31.63,02.06.2023,37.16,02.06.2023,40.37,02.06.2023
1,430,08.607.83,000,"N CORSA D 1,0L 44KW BJ 2006",8,1,L20,07.11.2018,"75,36","0,00",0,0.00,-,0.00,07.11.2018,0.00,08.08.2017,0.00,29.04.2016,0.00,14.12.2017,0.00,-,0.00,31.08.2017,0.00,-,0.00,26.03.2014
2,430,08.607.81,000,"M CORSA D 1,4L 66KW BJ 2006",8,1,L20,04.08.2021,"93,63","0,00",0,0.00,04.08.2021,0.00,10.07.2017,0.00,26.04.2021,0.00,28.04.2021,0.00,13.09.2018,0.00,31.07.2019,0.00,24.06.2016,0.00,-,0.00,04.05.2015
3,430,08.607.85,000,"N CORSA D 1,4L 66KW BJ 2006",8,1,L20,14.07.2021,"76,95","0,00",0,0.00,14.07.2021,0.00,-,0.00,26.04.2021,0.00,-,0.00,29.09.2020,0.00,31.07.2019,0.00,07.11.2018,0.00,-,0.00,-
4,430,08.607.80,000,"M CORSA D 1,0L 44KW BJ 2006",8,1,L20,14.12.2017,"80,07","0,00",0,0.00,24.09.2013,0.00,-,0.00,15.05.2015,0.00,29.04.2016,0.00,14.12.2017,0.00,-,0.00,-,0.00,-,0.00,19.10.2015

In [5]:
sql_query = f'select * from {schema}.lieferanten'
df_lieferanten = sf.get_dataframe(sql_query)
df_lieferanten.head()

   Lfnr            Beschreibung
0   NaN                    None
1  0.00                   BOSCH
2  1.00                   HELLA
3  2.00           BOSCH-TELECOM
4  3.00  BASF KÜHLERFROSTSCHUTZ

In [6]:
sql_query = f'select * from {schema}.verkäufe'
df_verkaeufe = sf.get_dataframe(sql_query)
df_verkaeufe.head()

,Lfr.,Art.nr.,Ind.,Beschreibung,Gesamt,WEN,RGB,STR,PAS,AMB,CHA,LAN,MÜH,ROS
0,NaN,None,NaN,None,1.735.669,1.031.753,91.48,140.46,88.08,94.06,40.10,91.86,83.47,74.41
1,0.00,1928498680,0.00,BUCHSENKONTAKT,38.400,38.400,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,52.00,50266496,0.00,"KABELBAND 300X4,8MM SCHWARZ",28.200,25.000,0.00,0.00,0.00,0.00,1.40,0.00,1.50,300.00
3,0.00,1928405459,0.00,BLINDKONTAKT,24.000,24.000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,52.00,50266493,0.00,"KABELBAND 390X4,8MM SCHWARZ",27.722,22.900,0.00,0.00,0.00,210.00,702.00,1.00,1.60,1.31

# Data Cleaning

## df_lagerbestand

In [7]:
# Adjust column names

df_lagerbestand.columns = df_lagerbestand.columns.str.lower()
df_lagerbestand.columns = [col.replace(" ", "_") for col in df_lagerbestand.columns.tolist()]
df_lagerbestand.columns = [col.replace(".", "") for col in df_lagerbestand.columns.tolist()]
df_lagerbestand.head()

,lfnr,artnr,index,beschr,bkz,vpe,stgr,ltz_vk_ges,basispreis,basispr_summe,gesamt,wen,ltz_vk_wen,rgb,ltz_vk_rgb,amb,ltz_vk_amb,cha,ltz_vk_cha,str,ltz_vk_str,pas,ltz_vk_pas,lan,ltz_vk_lan,müh,ltz_vk_müh,ros,ltz_vk_ros
0,Summe,Summe,Summe,Summe,Summe,Summe,Summe,03.06.2023,"22.137.471,28","9.973.936,32",1.084.309,763.51,03.06.2023,61.07,02.06.2023,31.03,02.06.2023,24.47,02.06.2023,55.65,02.06.2023,39.31,02.06.2023,31.63,02.06.2023,37.16,02.06.2023,40.37,02.06.2023
1,430,08.607.83,000,"N CORSA D 1,0L 44KW BJ 2006",8,1,L20,07.11.2018,"75,36","0,00",0,0.00,-,0.00,07.11.2018,0.00,08.08.2017,0.00,29.04.2016,0.00,14.12.2017,0.00,-,0.00,31.08.2017,0.00,-,0.00,26.03.2014
2,430,08.607.81,000,"M CORSA D 1,4L 66KW BJ 2006",8,1,L20,04.08.2021,"93,63","0,00",0,0.00,04.08.2021,0.00,10.07.2017,0.00,26.04.2021,0.00,28.04.2021,0.00,13.09.2018,0.00,31.07.2019,0.00,24.06.2016,0.00,-,0.00,04.05.2015
3,430,08.607.85,000,"N CORSA D 1,4L 66KW BJ 2006",8,1,L20,14.07.2021,"76,95","0,00",0,0.00,14.07.2021,0.00,-,0.00,26.04.2021,0.00,-,0.00,29.09.2020,0.00,31.07.2019,0.00,07.11.2018,0.00,-,0.00,-
4,430,08.607.80,000,"M CORSA D 1,0L 44KW BJ 2006",8,1,L20,14.12.2017,"80,07","0,00",0,0.00,24.09.2013,0.00,-,0.00,15.05.2015,0.00,29.04.2016,0.00,14.12.2017,0.00,-,0.00,-,0.00,-,0.00,19.10.2015

In [8]:
# Change date columns from string to date type
date_columns = ["ltz_vk_ges", "ltz_vk_wen", "ltz_vk_rgb", "ltz_vk_amb", "ltz_vk_cha", "ltz_vk_str", "ltz_vk_pas", "ltz_vk_lan", "ltz_vk_müh", "ltz_vk_ros"]

for column in date_columns:
        df_lagerbestand[column] = pd.to_datetime(df_lagerbestand[column], format='%d.%m.%Y', errors='coerce')

df_lagerbestand.head()

,lfnr,artnr,index,beschr,bkz,vpe,stgr,ltz_vk_ges,basispreis,basispr_summe,gesamt,wen,ltz_vk_wen,rgb,ltz_vk_rgb,amb,ltz_vk_amb,cha,ltz_vk_cha,str,ltz_vk_str,pas,ltz_vk_pas,lan,ltz_vk_lan,müh,ltz_vk_müh,ros,ltz_vk_ros
0,Summe,Summe,Summe,Summe,Summe,Summe,Summe,2023-06-03,"22.137.471,28","9.973.936,32",1.084.309,763.51,2023-06-03,61.07,2023-06-02,31.03,2023-06-02,24.47,2023-06-02,55.65,2023-06-02,39.31,2023-06-02,31.63,2023-06-02,37.16,2023-06-02,40.37,2023-06-02
1,430,08.607.83,000,"N CORSA D 1,0L 44KW BJ 2006",8,1,L20,2018-11-07,"75,36","0,00",0,0.00,NaT,0.00,2018-11-07,0.00,2017-08-08,0.00,2016-04-29,0.00,2017-12-14,0.00,NaT,0.00,2017-08-31,0.00,NaT,0.00,2014-03-26
2,430,08.607.81,000,"M CORSA D 1,4L 66KW BJ 2006",8,1,L20,2021-08-04,"93,63","0,00",0,0.00,2021-08-04,0.00,2017-07-10,0.00,2021-04-26,0.00,2021-04-28,0.00,2018-09-13,0.00,2019-07-31,0.00,2016-06-24,0.00,NaT,0.00,2015-05-04
3,430,08.607.85,000,"N CORSA D 1,4L 66KW BJ 2006",8,1,L20,2021-07-14,"76,95","0,00",0,0.00,2021-07-14,0.00,NaT,0.00,2021-04-26,0.00,NaT,0.00,2020-09-29,0.00,2019-07-31,0.00,2018-11-07,0.00,NaT,0.00,NaT
4,430,08.607.80,000,"M CORSA D 1,0L 44KW BJ 2006",8,1,L20,2017-12-14,"80,07","0,00",0,0.00,2013-09-24,0.00,NaT,0.00,2015-05-15,0.00,2016-04-29,0.00,2017-12-14,0.00,NaT,0.00,NaT,0.00,NaT,0.00,2015-10-19

In [9]:
# Change selected number columns from string to float type
float_columns = ["lfnr", "vpe", "basispreis", "basispr_summe", "gesamt"]

for column in float_columns:
    df_lagerbestand[column] = pd.to_numeric(df_lagerbestand[column].str.replace('.', '').str.replace(',', '.'), errors='coerce')

/var/folders/kv/8g80w4s52_ldz0hf8y_2jgw40000gn/T/ipykernel_19498/4103185317.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_lagerbestand[column] = pd.to_numeric(df_lagerbestand[column].str.replace('.', '').str.replace(',', '.'), errors='coerce')

In [10]:
df_lagerbestand["gesamt"] = df_lagerbestand["gesamt"].astype(float)

In [11]:
display(df_lagerbestand.head())
display(df_lagerbestand.info())

,lfnr,artnr,index,beschr,bkz,vpe,stgr,ltz_vk_ges,basispreis,basispr_summe,gesamt,wen,ltz_vk_wen,rgb,ltz_vk_rgb,amb,ltz_vk_amb,cha,ltz_vk_cha,str,ltz_vk_str,pas,ltz_vk_pas,lan,ltz_vk_lan,müh,ltz_vk_müh,ros,ltz_vk_ros
0,NaN,Summe,Summe,Summe,Summe,NaN,Summe,2023-06-03,"22,137,471.28","9,973,936.32","1,084,309.00",763.51,2023-06-03,61.07,2023-06-02,31.03,2023-06-02,24.47,2023-06-02,55.65,2023-06-02,39.31,2023-06-02,31.63,2023-06-02,37.16,2023-06-02,40.37,2023-06-02
1,430.00,08.607.83,000,"N CORSA D 1,0L 44KW BJ 2006",8,1.00,L20,2018-11-07,75.36,0.00,0.00,0.00,NaT,0.00,2018-11-07,0.00,2017-08-08,0.00,2016-04-29,0.00,2017-12-14,0.00,NaT,0.00,2017-08-31,0.00,NaT,0.00,2014-03-26
2,430.00,08.607.81,000,"M CORSA D 1,4L 66KW BJ 2006",8,1.00,L20,2021-08-04,93.63,0.00,0.00,0.00,2021-08-04,0.00,2017-07-10,0.00,2021-04-26,0.00,2021-04-28,0.00,2018-09-13,0.00,2019-07-31,0.00,2016-06-24,0.00,NaT,0.00,2015-05-04
3,430.00,08.607.85,000,"N CORSA D 1,4L 66KW BJ 2006",8,1.00,L20,2021-07-14,76.95,0.00,0.00,0.00,2021-07-14,0.00,NaT,0.00,2021-04-26,0.00,NaT,0.00,2020-09-29,0.00,2019-07-31,0.00,2018-11-07,0.00,NaT,0.00,NaT
4,430.00,08.607.80,000,"M CORSA D 1,0L 44KW BJ 2006",8,1.00,L20,2017-12-14,80.07,0.00,0.00,0.00,2013-09-24,0.00,NaT,0.00,2015-05-15,0.00,2016-04-29,0.00,2017-12-14,0.00,NaT,0.00,NaT,0.00,NaT,0.00,2015-10-19

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 357830 entries, 0 to 357829
Data columns (total 29 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   lfnr           357829 non-null  float64
 1   artnr          357830 non-null  object
 2   index          357830 non-null  object
 3   beschr         357830 non-null  object
 4   bkz            357830 non-null  object
 5   vpe            357829 non-null  float64
 6   stgr           357830 non-null  object
 7   ltz_vk_ges     338129 non-null  datetime64[ns]
 8   basispreis     357830 non-null  float64
 9   basispr_summe  357830 non-null  float64
 10  gesamt         357830 non-null  float64
 11  wen            357830 non-null  float64
 12  ltz_vk_wen     204993 non-null  datetime64[ns]
 13  rgb            357830 non-null  float64
 14  ltz_vk_rgb     124823 non-null  datetime64[ns]
 15  amb            357830 non-null  float64
 16  ltz_vk_amb     112563 non-null  datetime64[ns]
 17  cha            357830 non-null  float64
 18  ltz_vk_cha     55834 non-null   datetime64[ns]
 19  str            357830 non-null  float64
 20  ltz_vk_str     149799 non-null  datetime64[ns]
 21  pas            357830 non-null  float64
 22  ltz_vk_pas     70194 non-null   datetime64[ns]
 23  lan            357830 non-null  float64
 24  ltz_vk_lan     89660 non-null   datetime64[ns]
 25  müh            357830 non-null  float64
 26  ltz_vk_müh     77326 non-null   datetime64[ns]
 27  ros            357830 non-null  float64
 28  ltz_vk_ros     112683 non-null  datetime64[ns]
dtypes: datetime64[ns](10), float64(14), object(5)
memory usage: 79.2+ MB

None

In [12]:
df_lagerbestand.describe()

,lfnr,vpe,basispreis,basispr_summe,gesamt,wen,rgb,amb,cha,str,pas,lan,müh,ros
count,"357,829.00","357,829.00","357,830.00","357,830.00","357,830.00","357,830.00","357,830.00","357,830.00","357,830.00","357,830.00","357,830.00","357,830.00","357,830.00","357,830.00"
mean,130.69,3.20,123.73,55.75,25.04,1.60,0.17,0.09,0.07,0.16,0.11,0.09,0.10,0.12
std,126.75,27.26,"37,007.66","16,676.90","1,824.36",17.45,4.22,2.73,1.64,3.78,3.14,2.25,3.95,3.93
min,0.00,0.00,0.00,"-68,931.00","-8,399.00",-862.00,-855.00,-366.00,-50.00,-859.00,-514.00,-22.00,-965.00,-435.00
25%,25.00,0.00,8.60,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
50%,110.00,1.00,26.30,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
75%,182.00,1.00,64.10,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
max,990.00,"5,000.00","22,137,471.28","9,973,936.32","1,084,309.00",999.00,780.00,632.00,288.00,775.00,602.00,587.00,756.00,638.00

## df_lieferanten

In [13]:
# Adjust column names

df_lieferanten.columns = df_lieferanten.columns.str.lower()
df_lieferanten.columns = [col.replace(" ", "_") for col in df_lieferanten.columns.tolist()]
df_lieferanten.columns = [col.replace(".", "") for col in df_lieferanten.columns.tolist()]
df_lieferanten.head()

   lfnr            beschreibung
0   NaN                    None
1  0.00                   BOSCH
2  1.00                   HELLA
3  2.00           BOSCH-TELECOM
4  3.00  BASF KÜHLERFROSTSCHUTZ

In [14]:
df_lieferanten.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 379 entries, 0 to 378
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   lfnr          378 non-null    float64
 1   beschreibung  376 non-null    object
dtypes: float64(1), object(1)
memory usage: 6.0+ KB

## df_verkaeufe

In [15]:
# Adjust column names

df_verkaeufe.columns = df_verkaeufe.columns.str.lower()
df_verkaeufe.columns = [col.replace(" ", "_") for col in df_verkaeufe.columns.tolist()]
df_verkaeufe.columns = [col.replace(".", "") for col in df_verkaeufe.columns.tolist()]
df_verkaeufe.head()

,lfr,artnr,ind,beschreibung,gesamt,wen,rgb,str,pas,amb,cha,lan,müh,ros
0,NaN,None,NaN,None,1.735.669,1.031.753,91.48,140.46,88.08,94.06,40.10,91.86,83.47,74.41
1,0.00,1928498680,0.00,BUCHSENKONTAKT,38.400,38.400,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,52.00,50266496,0.00,"KABELBAND 300X4,8MM SCHWARZ",28.200,25.000,0.00,0.00,0.00,0.00,1.40,0.00,1.50,300.00
3,0.00,1928405459,0.00,BLINDKONTAKT,24.000,24.000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,52.00,50266493,0.00,"KABELBAND 390X4,8MM SCHWARZ",27.722,22.900,0.00,0.00,0.00,210.00,702.00,1.00,1.60,1.31

In [16]:
# Change selected number columns from string to float type
float_columns = ["gesamt", "wen"]

for column in float_columns:
    df_verkaeufe[column] = pd.to_numeric(df_verkaeufe[column].str.replace('.', '').str.replace(',', '.'), errors='coerce')

/var/folders/kv/8g80w4s52_ldz0hf8y_2jgw40000gn/T/ipykernel_19498/3174707337.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_verkaeufe[column] = pd.to_numeric(df_verkaeufe[column].str.replace('.', '').str.replace(',', '.'), errors='coerce')

In [17]:
df_verkaeufe["gesamt"] = df_verkaeufe["gesamt"].astype(float)
df_verkaeufe["wen"] = df_verkaeufe["wen"].astype(float)

In [18]:
display(df_verkaeufe.head())
display(df_verkaeufe.info())

,lfr,artnr,ind,beschreibung,gesamt,wen,rgb,str,pas,amb,cha,lan,müh,ros
0,NaN,None,NaN,None,"1,735,669.00","1,031,753.00",91.48,140.46,88.08,94.06,40.10,91.86,83.47,74.41
1,0.00,1928498680,0.00,BUCHSENKONTAKT,"38,400.00","38,400.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,52.00,50266496,0.00,"KABELBAND 300X4,8MM SCHWARZ","28,200.00","25,000.00",0.00,0.00,0.00,0.00,1.40,0.00,1.50,300.00
3,0.00,1928405459,0.00,BLINDKONTAKT,"24,000.00","24,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,52.00,50266493,0.00,"KABELBAND 390X4,8MM SCHWARZ","27,722.00","22,900.00",0.00,0.00,0.00,210.00,702.00,1.00,1.60,1.31

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66010 entries, 0 to 66009
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   lfr           66009 non-null  float64
 1   artnr         66009 non-null  object
 2   ind           66009 non-null  float64
 3   beschreibung  66009 non-null  object
 4   gesamt        66010 non-null  float64
 5   wen           66010 non-null  float64
 6   rgb           66010 non-null  float64
 7   str           66010 non-null  float64
 8   pas           66010 non-null  float64
 9   amb           66010 non-null  float64
 10  cha           66010 non-null  float64
 11  lan           66010 non-null  float64
 12  müh           66010 non-null  float64
 13  ros           66010 non-null  float64
dtypes: float64(12), object(2)
memory usage: 7.1+ MB

None