# Setup

In [3]:
# Import Modules

import pandas as pd
import sqlalchemy
import sql_functions as sf

In [7]:
# Define global variables

sql_config = sf.get_sql_config() # Function loads credentials from a .env file and returns a dictionary with credentials
engine = sqlalchemy.create_engine('postgresql://user:pass@host/database', # Creates a connection object called engine
                                  connect_args=sql_config)
schema = 'capstone_kueblbeck' # Schema in our Postgresql database
base_sql_query = f'select * from {schema}.{table}' # Base SQL Query to get all the data from SQL table
                                                   # !!!Table has to be defined separately!!!

In [31]:
# Other settings

pd.options.display.max_columns = 30

# Loading Dataframes

In [23]:
base_sql_query = f'select * from {schema}.lagerbestand'
df_lagerbestand = sf.get_dataframe(base_sql_query)
df_lagerbestand.head()

,Lfnr,Artnr,Index,Beschr.,BKZ,VPE,St.gr.,Ltz. VK ges.,Basispreis,Basispr. Summe,...,Ltz. VK STR,PAS,Ltz. VK PAS,LAN,Ltz. VK LAN,MÜH,Ltz. VK MÜH,ROS,Ltz. VK ROS,neu_letztvk_ges
0,430,12.101.99,000,"B REPAIR SET 37/40/56*65,5MM",0,0,L20,Ltz._VK_ges.,"8,46","16,92",...,-,0.0,-,0.0,-,0.0,-,0.0,-,None
1,430,12.095.60,000,K SET AUDI A4,8,1,L20,Ltz._VK_ges.,"151,18","0,00",...,31.01.2009,0.0,-,0.0,-,0.0,-,0.0,-,None
2,430,10.282.90,000,B MONTAGESATZ SKODA FAVORIT,8,1,L20,Ltz._VK_ges.,"5,40","0,00",...,03.06.2009,0.0,-,0.0,-,0.0,-,0.0,-,None
3,430,08.807.83,000,"N ASTRA H 1,8L 103KW CABRIO BJ",0,1,L20,Ltz._VK_ges.,"114,56","0,00",...,22.10.2019,0.0,25.10.2019,0.0,-,0.0,-,0.0,14.09.2016,None
4,430,08.907.82,000,"M ASTRA H 1,8L 103KW BJ 200",8,1,L20,Ltz._VK_ges.,"66,25","0,00",...,-,0.0,-,0.0,-,0.0,17.10.2018,0.0,-,None

In [17]:
base_sql_query = f'select * from {schema}.lieferanten'
df_lieferanten = sf.get_dataframe(base_sql_query)
df_lieferanten.head()

   Lfnr            Beschreibung
0   NaN                    None
1   0.0                   BOSCH
2   1.0                   HELLA
3   2.0           BOSCH-TELECOM
4   3.0  BASF KÜHLERFROSTSCHUTZ

In [21]:
base_sql_query = f'select * from {schema}.verkäufe'
df_verkaeufe = sf.get_dataframe(base_sql_query)
df_verkaeufe.head()

,Lfr.,Art.nr.,Ind.,Beschreibung,Gesamt,WEN,RGB,STR,PAS,AMB,CHA,LAN,MÜH,ROS
0,NaN,None,NaN,None,1.735.669,1.031.753,91.482,140.461,88.082,94.059,40.096,91.864,83.465,74.405
1,0.0,1928498680,0.0,BUCHSENKONTAKT,38.400,38.400,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2,52.0,50266496,0.0,"KABELBAND 300X4,8MM SCHWARZ",28.200,25.000,0.000,0.000,0.000,0.000,1.400,0.000,1.500,300.000
3,0.0,1928405459,0.0,BLINDKONTAKT,24.000,24.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
4,52.0,50266493,0.0,"KABELBAND 390X4,8MM SCHWARZ",27.722,22.900,0.000,0.000,0.000,210.000,702.000,1.000,1.600,1.310

# Data Cleaning

## df_lagerbestand

In [42]:
display(df_lagerbestand.head())
display(df_lagerbestand.info())

,lfnr,artnr,index,beschr,bkz,vpe,stgr,ltz_vk_ges,basispreis,basispr_summe,gesamt,wen,ltz_vk_wen,rgb,ltz_vk_rgb,amb,ltz_vk_amb,cha,ltz_vk_cha,str,ltz_vk_str,pas,ltz_vk_pas,lan,ltz_vk_lan,müh,ltz_vk_müh,ros,ltz_vk_ros,neu_letztvk_ges
0,430,12.101.99,000,"B REPAIR SET 37/40/56*65,5MM",0,0,L20,Ltz._VK_ges.,"8,46","16,92",2,2.0,NaT,0.0,NaT,0.0,NaT,0.0,NaT,0.0,NaT,0.0,NaT,0.0,NaT,0.0,NaT,0.0,NaT,None
1,430,12.095.60,000,K SET AUDI A4,8,1,L20,Ltz._VK_ges.,"151,18","0,00",0,0.0,NaT,0.0,NaT,0.0,NaT,0.0,NaT,0.0,2009-01-31,0.0,NaT,0.0,NaT,0.0,NaT,0.0,NaT,None
2,430,10.282.90,000,B MONTAGESATZ SKODA FAVORIT,8,1,L20,Ltz._VK_ges.,"5,40","0,00",0,0.0,2016-04-26,0.0,NaT,0.0,NaT,0.0,NaT,0.0,2009-06-03,0.0,NaT,0.0,NaT,0.0,NaT,0.0,NaT,None
3,430,08.807.83,000,"N ASTRA H 1,8L 103KW CABRIO BJ",0,1,L20,Ltz._VK_ges.,"114,56","0,00",0,0.0,2021-12-02,0.0,2019-06-26,0.0,2021-05-28,0.0,NaT,0.0,2019-10-22,0.0,2019-10-25,0.0,NaT,0.0,NaT,0.0,2016-09-14,None
4,430,08.907.82,000,"M ASTRA H 1,8L 103KW BJ 200",8,1,L20,Ltz._VK_ges.,"66,25","0,00",0,0.0,NaT,0.0,2009-10-21,0.0,2017-06-22,0.0,NaT,0.0,NaT,0.0,NaT,0.0,NaT,0.0,2018-10-17,0.0,NaT,None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 357830 entries, 0 to 357829
Data columns (total 30 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   lfnr             357830 non-null  object
 1   artnr            357830 non-null  object
 2   index            357830 non-null  object
 3   beschr           357830 non-null  object
 4   bkz              357830 non-null  object
 5   vpe              357830 non-null  object
 6   stgr             357830 non-null  object
 7   ltz_vk_ges       357830 non-null  object
 8   basispreis       357830 non-null  object
 9   basispr_summe    357830 non-null  object
 10  gesamt           357830 non-null  object
 11  wen              357830 non-null  float64
 12  ltz_vk_wen       204993 non-null  datetime64[ns]
 13  rgb              357830 non-null  float64
 14  ltz_vk_rgb       124823 non-null  datetime64[ns]
 15  amb              357830 non-null  float64
 16  ltz_vk_amb       112563 non-null  datetime64[ns]
 17  cha              357830 non-null  float64
 18  ltz_vk_cha       55834 non-null   datetime64[ns]
 19  str              357830 non-null  float64
 20  ltz_vk_str       149799 non-null  datetime64[ns]
 21  pas              357830 non-null  float64
 22  ltz_vk_pas       70194 non-null   datetime64[ns]
 23  lan              357830 non-null  float64
 24  ltz_vk_lan       89660 non-null   datetime64[ns]
 25  müh              357830 non-null  float64
 26  ltz_vk_müh       77326 non-null   datetime64[ns]
 27  ros              357830 non-null  float64
 28  ltz_vk_ros       112683 non-null  datetime64[ns]
 29  neu_letztvk_ges  0 non-null       object
dtypes: datetime64[ns](9), float64(9), object(12)
memory usage: 81.9+ MB

None

In [34]:
# Adjust column names

df_lagerbestand.columns = df_lagerbestand.columns.str.lower()
df_lagerbestand.columns = [col.replace(" ", "_") for col in df_lagerbestand.columns.tolist()]
df_lagerbestand.columns = [col.replace(".", "") for col in df_lagerbestand.columns.tolist()]
df_lagerbestand.head()

,lfnr,artnr,index,beschr,bkz,vpe,stgr,ltz_vk_ges,basispreis,basispr_summe,gesamt,wen,ltz_vk_wen,rgb,ltz_vk_rgb,amb,ltz_vk_amb,cha,ltz_vk_cha,str,ltz_vk_str,pas,ltz_vk_pas,lan,ltz_vk_lan,müh,ltz_vk_müh,ros,ltz_vk_ros,neu_letztvk_ges
0,430,12.101.99,000,"B REPAIR SET 37/40/56*65,5MM",0,0,L20,Ltz._VK_ges.,"8,46","16,92",2,2.0,-,0.0,-,0.0,-,0.0,-,0.0,-,0.0,-,0.0,-,0.0,-,0.0,-,None
1,430,12.095.60,000,K SET AUDI A4,8,1,L20,Ltz._VK_ges.,"151,18","0,00",0,0.0,-,0.0,-,0.0,-,0.0,-,0.0,31.01.2009,0.0,-,0.0,-,0.0,-,0.0,-,None
2,430,10.282.90,000,B MONTAGESATZ SKODA FAVORIT,8,1,L20,Ltz._VK_ges.,"5,40","0,00",0,0.0,26.04.2016,0.0,-,0.0,-,0.0,-,0.0,03.06.2009,0.0,-,0.0,-,0.0,-,0.0,-,None
3,430,08.807.83,000,"N ASTRA H 1,8L 103KW CABRIO BJ",0,1,L20,Ltz._VK_ges.,"114,56","0,00",0,0.0,02.12.2021,0.0,26.06.2019,0.0,28.05.2021,0.0,-,0.0,22.10.2019,0.0,25.10.2019,0.0,-,0.0,-,0.0,14.09.2016,None
4,430,08.907.82,000,"M ASTRA H 1,8L 103KW BJ 200",8,1,L20,Ltz._VK_ges.,"66,25","0,00",0,0.0,-,0.0,21.10.2009,0.0,22.06.2017,0.0,-,0.0,-,0.0,-,0.0,-,0.0,17.10.2018,0.0,-,None

In [48]:
# Change date columns from string to date type
date_columns = ["ltz_vk_wen", "ltz_vk_rgb", "ltz_vk_amb", "ltz_vk_cha", "ltz_vk_str", "ltz_vk_pas", "ltz_vk_lan", "ltz_vk_müh", "ltz_vk_ros"]

for column in date_columns:
        df_lagerbestand[column] = pd.to_datetime(df_lagerbestand[column], format='%d.%m.%Y', errors='coerce')

df_lagerbestand.head()

,lfnr,artnr,index,beschr,bkz,vpe,stgr,ltz_vk_ges,basispreis,basispr_summe,gesamt,wen,ltz_vk_wen,rgb,ltz_vk_rgb,amb,ltz_vk_amb,cha,ltz_vk_cha,str,ltz_vk_str,pas,ltz_vk_pas,lan,ltz_vk_lan,müh,ltz_vk_müh,ros,ltz_vk_ros,neu_letztvk_ges
0,430,12.101.99,000,"B REPAIR SET 37/40/56*65,5MM",0,0,L20,Ltz._VK_ges.,"8,46","16,92",2,2.0,NaT,0.0,NaT,0.0,NaT,0.0,NaT,0.0,NaT,0.0,NaT,0.0,NaT,0.0,NaT,0.0,NaT,None
1,430,12.095.60,000,K SET AUDI A4,8,1,L20,Ltz._VK_ges.,"151,18","0,00",0,0.0,NaT,0.0,NaT,0.0,NaT,0.0,NaT,0.0,2009-01-31,0.0,NaT,0.0,NaT,0.0,NaT,0.0,NaT,None
2,430,10.282.90,000,B MONTAGESATZ SKODA FAVORIT,8,1,L20,Ltz._VK_ges.,"5,40","0,00",0,0.0,2016-04-26,0.0,NaT,0.0,NaT,0.0,NaT,0.0,2009-06-03,0.0,NaT,0.0,NaT,0.0,NaT,0.0,NaT,None
3,430,08.807.83,000,"N ASTRA H 1,8L 103KW CABRIO BJ",0,1,L20,Ltz._VK_ges.,"114,56","0,00",0,0.0,2021-12-02,0.0,2019-06-26,0.0,2021-05-28,0.0,NaT,0.0,2019-10-22,0.0,2019-10-25,0.0,NaT,0.0,NaT,0.0,2016-09-14,None
4,430,08.907.82,000,"M ASTRA H 1,8L 103KW BJ 200",8,1,L20,Ltz._VK_ges.,"66,25","0,00",0,0.0,NaT,0.0,2009-10-21,0.0,2017-06-22,0.0,NaT,0.0,NaT,0.0,NaT,0.0,NaT,0.0,2018-10-17,0.0,NaT,None

In [57]:
# Change selected number columns from string to float type
float_columns = ["lfnr", "vpe", "basispreis", "basispr_summe", "gesamt"]

for column in float_columns:
    df_lagerbestand[column] = pd.to_numeric(df_lagerbestand[column].str.replace('.', '').str.replace(',', '.'), errors='coerce')

/var/folders/kv/8g80w4s52_ldz0hf8y_2jgw40000gn/T/ipykernel_6503/2295156876.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_lagerbestand[column] = pd.to_numeric(df_lagerbestand[column].str.replace('.', '').str.replace(',', '.'), errors='coerce')

In [58]:
df_lagerbestand.describe()

,lfnr,vpe,basispreis,basispr_summe,gesamt,wen,rgb,amb,cha,str,pas,lan,müh,ros
count,357829.000000,357829.000000,3.578300e+05,3.578300e+05,3.578300e+05,357830.000000,357830.000000,357830.000000,357830.000000,357830.000000,357830.000000,357830.000000,357830.000000,357830.000000
mean,130.693365,3.200694,1.237318e+02,5.574679e+01,2.504381e+01,1.602232,0.169459,0.093541,0.068520,0.155905,0.113208,0.085663,0.104041,0.121416
std,126.750995,27.255047,3.700766e+04,1.667690e+04,1.824365e+03,17.446878,4.223074,2.732699,1.636756,3.775675,3.138968,2.248246,3.948290,3.925887
min,0.000000,0.000000,0.000000e+00,-6.893100e+04,-8.399000e+03,-862.000000,-855.000000,-366.000000,-50.000000,-859.000000,-514.000000,-22.000000,-965.000000,-435.000000
25%,25.000000,0.000000,8.600000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,110.000000,1.000000,2.630000e+01,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,182.000000,1.000000,6.409750e+01,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,990.000000,5000.000000,2.213747e+07,9.973936e+06,1.084309e+06,999.000000,780.000000,632.000000,288.000000,775.000000,602.000000,587.000000,756.000000,638.000000

## df_lieferanten

In [35]:
# Adjust column names

df_lieferanten.columns = df_lieferanten.columns.str.lower()
df_lieferanten.columns = [col.replace(" ", "_") for col in df_lieferanten.columns.tolist()]
df_lieferanten.columns = [col.replace(".", "") for col in df_lieferanten.columns.tolist()]
df_lieferanten.head()

   lfnr            beschreibung
0   NaN                    None
1   0.0                   BOSCH
2   1.0                   HELLA
3   2.0           BOSCH-TELECOM
4   3.0  BASF KÜHLERFROSTSCHUTZ

In [56]:
df_lieferanten.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 379 entries, 0 to 378
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   lfnr          378 non-null    float64
 1   beschreibung  376 non-null    object
dtypes: float64(1), object(1)
memory usage: 6.0+ KB

## df_verkaeufe

In [36]:
# Adjust column names

df_verkaeufe.columns = df_verkaeufe.columns.str.lower()
df_verkaeufe.columns = [col.replace(" ", "_") for col in df_verkaeufe.columns.tolist()]
df_verkaeufe.columns = [col.replace(".", "") for col in df_verkaeufe.columns.tolist()]
df_verkaeufe.head()

,lfr,artnr,ind,beschreibung,gesamt,wen,rgb,str,pas,amb,cha,lan,müh,ros
0,NaN,None,NaN,None,1.735.669,1.031.753,91.482,140.461,88.082,94.059,40.096,91.864,83.465,74.405
1,0.0,1928498680,0.0,BUCHSENKONTAKT,38.400,38.400,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2,52.0,50266496,0.0,"KABELBAND 300X4,8MM SCHWARZ",28.200,25.000,0.000,0.000,0.000,0.000,1.400,0.000,1.500,300.000
3,0.0,1928405459,0.0,BLINDKONTAKT,24.000,24.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
4,52.0,50266493,0.0,"KABELBAND 390X4,8MM SCHWARZ",27.722,22.900,0.000,0.000,0.000,210.000,702.000,1.000,1.600,1.310

In [61]:
df_verkaeufe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66010 entries, 0 to 66009
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   lfr           66009 non-null  float64
 1   artnr         66009 non-null  object
 2   ind           66009 non-null  float64
 3   beschreibung  66009 non-null  object
 4   gesamt        66010 non-null  int64
 5   wen           66010 non-null  int64
 6   rgb           66010 non-null  float64
 7   str           66010 non-null  float64
 8   pas           66010 non-null  float64
 9   amb           66010 non-null  float64
 10  cha           66010 non-null  float64
 11  lan           66010 non-null  float64
 12  müh           66010 non-null  float64
 13  ros           66010 non-null  float64
dtypes: float64(10), int64(2), object(2)
memory usage: 7.1+ MB

In [60]:
# Change selected number columns from string to float type
float_columns = ["gesamt", "wen"]

for column in float_columns:
    df_verkaeufe[column] = pd.to_numeric(df_verkaeufe[column].str.replace('.', '').str.replace(',', '.'), errors='coerce')

/var/folders/kv/8g80w4s52_ldz0hf8y_2jgw40000gn/T/ipykernel_6503/3174707337.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_verkaeufe[column] = pd.to_numeric(df_verkaeufe[column].str.replace('.', '').str.replace(',', '.'), errors='coerce')