# Setup

In [3]:
# Import libraries
import pandas as pd
import numpy as np
import psycopg2 # needed to get database exception errors when uploading dataframe
from sql_functions import get_engine
import sql_functions as sf

In [4]:
# Define global variables

sql_config = sf.get_sql_config() # Function loads credentials from a .env file and returns a dictionary with credentials
engine = sqlalchemy.create_engine('postgresql://user:pass@host/database', # Creates a connection object called engine
                                  connect_args=sql_config)
schema = 'capstone_kueblbeck' # Schema in our Postgresql database

NameError: name 'sqlalchemy' is not defined

In [7]:
schema = 'capstone_kueblbeck' # Schema in our Postgresql database

In [8]:
# Other settings

pd.options.display.max_columns = 30
pd.options.display.float_format = "{:,.2f}".format

# Loading Dataframes

In [9]:
sql_query = f'select * from {schema}.lagerbestand'
df_lagerbestand = sf.get_dataframe(sql_query)
df_lagerbestand.head()

,Lfnr,Artnr,Index,Beschr.,BKZ,VPE,St.gr.,Ltz. VK ges.,Basispreis,Basispr. Summe,Gesamt,WEN,Ltz. VK WEN,RGB,Ltz. VK RGB,AMB,Ltz. VK AMB,CHA,Ltz. VK CHA,STR,Ltz. VK STR,PAS,Ltz. VK PAS,LAN,Ltz. VK LAN,MÜH,Ltz. VK MÜH,ROS,Ltz. VK ROS
0,NaN,Summe,Summe,Summe,Summe,NaN,Summe,2023-06-03,None,None,"1,084,309.00","763,512.00",2023-06-03,"61,066.00",2023-06-02,"31,034.00",2023-06-02,"24,471.00",2023-06-02,"55,651.00",2023-06-02,"39,311.00",2023-06-02,"31,628.00",2023-06-02,"37,164.00",2023-06-02,"40,366.00",2023-06-02
1,430.00,08.607.83,000,"N CORSA D 1,0L 44KW BJ 2006",8,1.00,L20,2018-11-07,None,None,0.00,0.00,NaT,0.00,2018-11-07,0.00,2017-08-08,0.00,2016-04-29,0.00,2017-12-14,0.00,NaT,0.00,2017-08-31,0.00,NaT,0.00,2014-03-26
2,430.00,08.607.81,000,"M CORSA D 1,4L 66KW BJ 2006",8,1.00,L20,2021-08-04,None,None,0.00,0.00,2021-08-04,0.00,2017-07-10,0.00,2021-04-26,0.00,2021-04-28,0.00,2018-09-13,0.00,2019-07-31,0.00,2016-06-24,0.00,NaT,0.00,2015-05-04
3,430.00,08.607.85,000,"N CORSA D 1,4L 66KW BJ 2006",8,1.00,L20,2021-07-14,None,None,0.00,0.00,2021-07-14,0.00,NaT,0.00,2021-04-26,0.00,NaT,0.00,2020-09-29,0.00,2019-07-31,0.00,2018-11-07,0.00,NaT,0.00,NaT
4,430.00,08.607.80,000,"M CORSA D 1,0L 44KW BJ 2006",8,1.00,L20,2017-12-14,None,None,0.00,0.00,2013-09-24,0.00,NaT,0.00,2015-05-15,0.00,2016-04-29,0.00,2017-12-14,0.00,NaT,0.00,NaT,0.00,NaT,0.00,2015-10-19

In [10]:
sql_query = f'select * from {schema}.lieferanten'
df_lieferanten = sf.get_dataframe(sql_query)
df_lieferanten.head()

   Lfnr            Beschreibung
0   NaN                    None
1  0.00                   BOSCH
2  1.00                   HELLA
3  2.00           BOSCH-TELECOM
4  3.00  BASF KÜHLERFROSTSCHUTZ

In [11]:
sql_query = f'select * from {schema}.verkäufe'
df_verkaeufe = sf.get_dataframe(sql_query)
df_verkaeufe.head()

,Lfr.,Art.nr.,Ind.,Beschreibung,Gesamt,WEN,RGB,STR,PAS,AMB,CHA,LAN,MÜH,ROS
0,NaN,None,NaN,None,"1,735,669.00","1,031,753.00","91,482.00","140,461.00","88,082.00","94,059.00","40,096.00","91,864.00","83,465.00","74,405.00"
1,0.00,1928498680,0.00,BUCHSENKONTAKT,"38,400.00","38,400.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,52.00,50266496,0.00,"KABELBAND 300X4,8MM SCHWARZ","28,200.00","25,000.00",0.00,0.00,0.00,0.00,"1,400.00",0.00,"1,500.00",300.00
3,0.00,1928405459,0.00,BLINDKONTAKT,"24,000.00","24,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,52.00,50266493,0.00,"KABELBAND 390X4,8MM SCHWARZ","27,722.00","22,900.00",0.00,0.00,0.00,210.00,702.00,"1,000.00","1,600.00","1,310.00"

# Data Cleaning

## df_lagerbestand

In [12]:
# Adjust column names

df_lagerbestand.columns = df_lagerbestand.columns.str.lower()
df_lagerbestand.columns = [col.replace(" ", "_") for col in df_lagerbestand.columns.tolist()]
df_lagerbestand.columns = [col.replace(".", "") for col in df_lagerbestand.columns.tolist()]
df_lagerbestand.head()

,lfnr,artnr,index,beschr,bkz,vpe,stgr,ltz_vk_ges,basispreis,basispr_summe,gesamt,wen,ltz_vk_wen,rgb,ltz_vk_rgb,amb,ltz_vk_amb,cha,ltz_vk_cha,str,ltz_vk_str,pas,ltz_vk_pas,lan,ltz_vk_lan,müh,ltz_vk_müh,ros,ltz_vk_ros
0,NaN,Summe,Summe,Summe,Summe,NaN,Summe,2023-06-03,None,None,"1,084,309.00","763,512.00",2023-06-03,"61,066.00",2023-06-02,"31,034.00",2023-06-02,"24,471.00",2023-06-02,"55,651.00",2023-06-02,"39,311.00",2023-06-02,"31,628.00",2023-06-02,"37,164.00",2023-06-02,"40,366.00",2023-06-02
1,430.00,08.607.83,000,"N CORSA D 1,0L 44KW BJ 2006",8,1.00,L20,2018-11-07,None,None,0.00,0.00,NaT,0.00,2018-11-07,0.00,2017-08-08,0.00,2016-04-29,0.00,2017-12-14,0.00,NaT,0.00,2017-08-31,0.00,NaT,0.00,2014-03-26
2,430.00,08.607.81,000,"M CORSA D 1,4L 66KW BJ 2006",8,1.00,L20,2021-08-04,None,None,0.00,0.00,2021-08-04,0.00,2017-07-10,0.00,2021-04-26,0.00,2021-04-28,0.00,2018-09-13,0.00,2019-07-31,0.00,2016-06-24,0.00,NaT,0.00,2015-05-04
3,430.00,08.607.85,000,"N CORSA D 1,4L 66KW BJ 2006",8,1.00,L20,2021-07-14,None,None,0.00,0.00,2021-07-14,0.00,NaT,0.00,2021-04-26,0.00,NaT,0.00,2020-09-29,0.00,2019-07-31,0.00,2018-11-07,0.00,NaT,0.00,NaT
4,430.00,08.607.80,000,"M CORSA D 1,0L 44KW BJ 2006",8,1.00,L20,2017-12-14,None,None,0.00,0.00,2013-09-24,0.00,NaT,0.00,2015-05-15,0.00,2016-04-29,0.00,2017-12-14,0.00,NaT,0.00,NaT,0.00,NaT,0.00,2015-10-19

In [13]:
# Change date columns from string to date type
date_columns = ["ltz_vk_ges", "ltz_vk_wen", "ltz_vk_rgb", "ltz_vk_amb", "ltz_vk_cha", "ltz_vk_str", "ltz_vk_pas", "ltz_vk_lan", "ltz_vk_müh", "ltz_vk_ros"]

for column in date_columns:
        df_lagerbestand[column] = pd.to_datetime(df_lagerbestand[column], format='%d.%m.%Y', errors='coerce')

df_lagerbestand.head()

,lfnr,artnr,index,beschr,bkz,vpe,stgr,ltz_vk_ges,basispreis,basispr_summe,gesamt,wen,ltz_vk_wen,rgb,ltz_vk_rgb,amb,ltz_vk_amb,cha,ltz_vk_cha,str,ltz_vk_str,pas,ltz_vk_pas,lan,ltz_vk_lan,müh,ltz_vk_müh,ros,ltz_vk_ros
0,NaN,Summe,Summe,Summe,Summe,NaN,Summe,2023-06-03,None,None,"1,084,309.00","763,512.00",2023-06-03,"61,066.00",2023-06-02,"31,034.00",2023-06-02,"24,471.00",2023-06-02,"55,651.00",2023-06-02,"39,311.00",2023-06-02,"31,628.00",2023-06-02,"37,164.00",2023-06-02,"40,366.00",2023-06-02
1,430.00,08.607.83,000,"N CORSA D 1,0L 44KW BJ 2006",8,1.00,L20,2018-11-07,None,None,0.00,0.00,NaT,0.00,2018-11-07,0.00,2017-08-08,0.00,2016-04-29,0.00,2017-12-14,0.00,NaT,0.00,2017-08-31,0.00,NaT,0.00,2014-03-26
2,430.00,08.607.81,000,"M CORSA D 1,4L 66KW BJ 2006",8,1.00,L20,2021-08-04,None,None,0.00,0.00,2021-08-04,0.00,2017-07-10,0.00,2021-04-26,0.00,2021-04-28,0.00,2018-09-13,0.00,2019-07-31,0.00,2016-06-24,0.00,NaT,0.00,2015-05-04
3,430.00,08.607.85,000,"N CORSA D 1,4L 66KW BJ 2006",8,1.00,L20,2021-07-14,None,None,0.00,0.00,2021-07-14,0.00,NaT,0.00,2021-04-26,0.00,NaT,0.00,2020-09-29,0.00,2019-07-31,0.00,2018-11-07,0.00,NaT,0.00,NaT
4,430.00,08.607.80,000,"M CORSA D 1,0L 44KW BJ 2006",8,1.00,L20,2017-12-14,None,None,0.00,0.00,2013-09-24,0.00,NaT,0.00,2015-05-15,0.00,2016-04-29,0.00,2017-12-14,0.00,NaT,0.00,NaT,0.00,NaT,0.00,2015-10-19

In [14]:
# Change selected number columns from string to float type
float_columns = ["lfnr", "vpe", "basispreis", "basispr_summe", "gesamt"]

for column in float_columns:
    df_lagerbestand[column] = pd.to_numeric(df_lagerbestand[column].str.replace('.', '').str.replace(',', '.'), errors='coerce')

AttributeError: Can only use .str accessor with string values!

In [15]:
df_lagerbestand["gesamt"] = df_lagerbestand["gesamt"].astype(float)

In [71]:
display(df_lagerbestand.head(40))
display(df_lagerbestand.info())

,lfnr,artnr,index,beschr,bkz,vpe,stgr,ltz_vk_ges,basispreis,basispr_summe,gesamt,wen,ltz_vk_wen,rgb,ltz_vk_rgb,amb,ltz_vk_amb,cha,ltz_vk_cha,str,ltz_vk_str,pas,ltz_vk_pas,lan,ltz_vk_lan,müh,ltz_vk_müh,ros,ltz_vk_ros
0,NaN,Summe,Summe,Summe,Summe,NaN,Summe,2023-06-03,None,None,"1,084,309.00","763,512.00",2023-06-03,"61,066.00",2023-06-02,"31,034.00",2023-06-02,"24,471.00",2023-06-02,"55,651.00",2023-06-02,"39,311.00",2023-06-02,"31,628.00",2023-06-02,"37,164.00",2023-06-02,"40,366.00",2023-06-02
1,430.00,08.607.83,000,"N CORSA D 1,0L 44KW BJ 2006",8,1.00,L20,2018-11-07,None,None,0.00,0.00,NaT,0.00,2018-11-07,0.00,2017-08-08,0.00,2016-04-29,0.00,2017-12-14,0.00,NaT,0.00,2017-08-31,0.00,NaT,0.00,2014-03-26
2,430.00,08.607.81,000,"M CORSA D 1,4L 66KW BJ 2006",8,1.00,L20,2021-08-04,None,None,0.00,0.00,2021-08-04,0.00,2017-07-10,0.00,2021-04-26,0.00,2021-04-28,0.00,2018-09-13,0.00,2019-07-31,0.00,2016-06-24,0.00,NaT,0.00,2015-05-04
3,430.00,08.607.85,000,"N CORSA D 1,4L 66KW BJ 2006",8,1.00,L20,2021-07-14,None,None,0.00,0.00,2021-07-14,0.00,NaT,0.00,2021-04-26,0.00,NaT,0.00,2020-09-29,0.00,2019-07-31,0.00,2018-11-07,0.00,NaT,0.00,NaT
4,430.00,08.607.80,000,"M CORSA D 1,0L 44KW BJ 2006",8,1.00,L20,2017-12-14,None,None,0.00,0.00,2013-09-24,0.00,NaT,0.00,2015-05-15,0.00,2016-04-29,0.00,2017-12-14,0.00,NaT,0.00,NaT,0.00,NaT,0.00,2015-10-19
5,430.00,08.607.87,000,"N CORSA D 1,3L CDTI 55KW BJ",8,1.00,L20,2021-01-08,None,None,0.00,0.00,2021-01-08,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT
6,430.00,08.607.86,000,"N CORSA D 1,3L CDTI 66KW BJ 20",8,1.00,L20,2018-08-28,None,None,0.00,0.00,2018-08-28,0.00,NaT,0.00,2018-05-02,0.00,NaT,0.00,2015-03-27,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT
7,430.00,08.607.74,000,"R CORSA D 1,3L CDTI 55KW BJ 2",8,1.00,L20,2015-06-17,None,None,0.00,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,2015-06-17
8,430.00,08.607.70,000,"R CORSA D 1,2L 59KW BJ 07.2",8,1.00,L20,2018-06-01,None,None,0.00,0.00,2017-07-12,0.00,NaT,0.00,NaT,0.00,2017-05-31,0.00,NaT,0.00,NaT,0.00,2018-06-01,0.00,NaT,0.00,NaT
9,430.00,08.607.73,000,"R CORSA D 1,3L CDTI 55KW BJ 20",8,1.00,L20,2021-04-14,None,None,0.00,0.00,2021-04-14,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT
10,430.00,08.607.72,000,"R CORSA D 1,3L CDTI 66KW BJ 2",8,1.00,L20,2020-08-11,None,None,0.00,0.00,2020-08-11,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT
11,430.00,08.690.93,000,B OPEL GASKET KIT,8,0.00,L20,2015-07-15,None,None,0.00,0.00,2015-03-25,0.00,NaT,0.00,NaT,0.00,2015-07-15,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT
12,430.00,08.693.86,000,"N CORSA A 1,0/1,2/1,3/1,4",8,1.00,L20,2018-10-01,None,None,0.00,0.00,2018-10-01,0.00,2009-08-11,0.00,2013-05-14,0.00,NaT,0.00,2012-08-17,0.00,2010-06-09,0.00,2011-07-05,0.00,NaT,0.00,2014-12-10
13,430.00,08.693.92,000,"B CORSA A 1,0/1,2/1,3/1,4",8,1.00,L20,2011-11-16,None,None,0.00,0.00,2011-11-16,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT
14,430.00,08.697.82,000,"N ASTRA F 1,8/16V 85KW",8,1.00,L20,2016-08-10,None,None,0.00,0.00,2009-08-26,0.00,2016-08-10,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,2011-11-28,0.00,2009-05-18,0.00,NaT
15,430.00,08.693.60,000,"K SET CORSA A 1,2I 33KW",0,1.00,L20,NaT,None,None,1.00,1.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT
16,430.00,12.102.99,000,R ROHRVERBINDER,8,1.00,L20,2009-11-25,None,None,0.00,0.00,2009-11-25,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT
17,430.00,08.699.84,000,"N ASTRA G, 2,2L, DTI, 92KW, CO",95,1.00,L20,2019-11-07,None,None,0.00,0.00,2019-11-07,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT
18,430.00,08.683.73,000,"R CORSA A 1,3N/S/1,4",0,1.00,L20,NaT,None,None,1.00,1.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT
19,430.00,08.683.81,000,"V CORSA A 1,0/1,2/1,3/1,4",8,1.00,L20,2016-12-07,None,None,0.00,0.00,2016-12-07,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT
20,430.00,08.683.70,000,"R CORSA A 1,0S/1,2N",8,1.00,L20,2012-01-18,None,None,0.00,0.00,2010-04-07,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,2012-01-18,0.00,NaT,0.00,NaT
21,430.00,08.608.86,000,"N CORSA D 1,4L 66KW BJ 2006-",0,0.00,L20,2021-08-04,None,None,1.00,1.00,2021-08-04,0.00,2017-07-10,0.00,2018-08-20,0.00,2017-11-07,0.00,2018-09-13,0.00,2016-08-11,0.00,NaT,0.00,2018-05-04,0.00,NaT
22,430.00,08.683.90,000,"B CORSA A 1,0S",0,1.00,L20,2016-07-13,None,None,2.00,2.00,2016-07-13,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT
23,430.00,08.683.83,000,"N CORSA A 1,0/1,2/1,3/1,4",8,1.00,L20,2021-07-07,None,None,0.00,0.00,2021-07-07,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT
24,430.00,08.599.81,000,"M ASTRA G 2,0D/60KW",8,1.00,L20,2015-12-09,None,None,0.00,0.00,2014-06-18,0.00,2013-07-17,0.00,2015-12-09,0.00,NaT,0.00,2013-05-21,0.00,NaT,0.00,NaT,0.00,2009-07-31,0.00,2014-01-22
25,430.00,08.592.90,000,"B KADETT E 1,7D AB 1989",0,1.00,L20,NaT,None,None,3.00,3.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT
26,430.00,08.593.60,000,"K SET ASTRA 2,0I 16V 110KW AB",8,1.00,L20,NaT,None,None,0.00,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT
27,430.00,08.592.88,000,N KADETT E CAR. AB 1989,8,1.00,L20,2009-01-31,None,None,0.00,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,2009-01-31
28,430.00,08.593.90,000,"B ASTRA 2,0I 110 KW",0,1.00,L20,NaT,None,None,2.00,2.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT
29,430.00,08.593.86,000,"N ASTRA 2,0LI 16V,110KW AB1991",8,1.00,L20,NaT,None,None,0.00,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT
30,430.00,08.592.84,000,"N KAD.E,1,3-1,8, HECKKLAPPE",8,1.00,L20,2018-07-31,None,None,0.00,0.00,2018-07-31,0.00,NaT,0.00,2017-11-30,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,2008-12-31
31,430.00,08.592.70,000,"R KADETT E,1,7L D.U.KOMBI AB 8",8,1.00,L20,NaT,None,None,0.00,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT
32,430.00,08.592.83,000,"V KADETT E CAR. 1,7D AB 1989",AN,1.00,L20,NaT,None,None,3.00,3.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT
33,430.00,08.592.81,000,N KADETT E CAR. AB 1989,AN,1.00,L20,NaT,None,None,3.00,3.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT
34,430.00,08.599.85,000,"N ASTRA G 1,7D/2,0D 50/60 KW C",S,1.00,L20,2017-08-01,None,None,0.00,0.00,2016-07-11,0.00,2014-06-04,0.00,2013-02-27,0.00,NaT,0.00,2017-04-28,0.00,2017-08-01,0.00,2012-07-11,0.00,2012-05-09,0.00,2014-01-22
35,430.00,08.601.85,000,"N CORSA C 1,7L DIESEL 48/55KW",S,1.00,L20,2020-08-11,None,None,0.00,0.00,2020-08-11,0.00,2010-02-17,0.00,2017-08-23,0.00,2016-05-20,0.00,2015-08-12,0.00,2012-12-12,0.00,2012-09-19,0.00,2013-11-20,0.00,2017-01-25
36,430.00,08.604.82,000,"N SIGNUM/VECTRA C 2,0/2,2L D",8,1.00,L20,2017-12-18,None,None,0.00,0.00,2017-05-24,0.00,2016-06-27,0.00,2015-07-08,0.00,2015-09-29,0.00,NaT,0.00,2017-12-18,0.00,2011-08-31,0.00,NaT,0.00,NaT
37,430.00,08.599.86,000,"N ASTRA G 1,7D/2,0D STUFENH.",8,1.00,L20,NaT,None,None,0.00,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT,0.00,NaT
38,NaN,HPP404,0,CR HOCHDRUCKLEITUNG,0,NaN,1DP,NaT,None,None,1.00,1.00,NaT,0.00,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT
39,430.00,08.599.80,000,"M ASTRA G 1,7D/50KW",8,1.00,L20,2016-02-03,None,None,0.00,0.00,2012-07-02,0.00,NaT,0.00,2012-11-21,0.00,NaT,0.00,2013-07-10,0.00,NaT,0.00,NaT,0.00,NaT,0.00,2016-02-03

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 357830 entries, 0 to 357829
Data columns (total 29 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   lfnr           32767 non-null   float64
 1   artnr          357830 non-null  object
 2   index          357830 non-null  object
 3   beschr         357830 non-null  object
 4   bkz            357830 non-null  object
 5   vpe            32767 non-null   float64
 6   stgr           357830 non-null  object
 7   ltz_vk_ges     338129 non-null  datetime64[ns]
 8   basispreis     0 non-null       object
 9   basispr_summe  0 non-null       object
 10  gesamt         325062 non-null  float64
 11  wen            325062 non-null  float64
 12  ltz_vk_wen     204993 non-null  datetime64[ns]
 13  rgb            98304 non-null   float64
 14  ltz_vk_rgb     124823 non-null  datetime64[ns]
 15  amb            98304 non-null   float64
 16  ltz_vk_amb     112563 non-null  datetime64[ns]
 17  cha            32768 non-null   float64
 18  ltz_vk_cha     55834 non-null   datetime64[ns]
 19  str            95686 non-null   float64
 20  ltz_vk_str     149799 non-null  datetime64[ns]
 21  pas            98304 non-null   float64
 22  ltz_vk_pas     70194 non-null   datetime64[ns]
 23  lan            62918 non-null   float64
 24  ltz_vk_lan     89660 non-null   datetime64[ns]
 25  müh            32768 non-null   float64
 26  ltz_vk_müh     77326 non-null   datetime64[ns]
 27  ros            98304 non-null   float64
 28  ltz_vk_ros     112683 non-null  datetime64[ns]
dtypes: datetime64[ns](10), float64(12), object(7)
memory usage: 79.2+ MB

None

In [73]:
df_lagerbestand['lfnr'].unique()

array([ nan, 430., 135., 137., 138., 280., 136., 900., 134., 468., 469.,
       491., 152., 210., 437., 440., 146., 446., 443., 442., 441., 454.,
       419., 415., 416., 412., 188., 291.,  65., 125., 555., 299., 298.,
       403., 400., 292., 421., 420., 470., 429., 800., 418., 176., 500.,
       503., 488., 480., 476., 175., 164., 158., 159., 167., 165., 166.,
       169., 153.,   1.,  90.])

In [25]:
df_lagerbestand.describe()

,lfnr,vpe,gesamt,wen,rgb,amb,cha,str,pas,lan,müh,ros
count,"32,767.00","32,767.00","325,062.00","325,062.00","98,304.00","98,304.00","32,768.00","95,686.00","98,304.00","62,918.00","32,768.00","98,304.00"
mean,231.40,8.36,6.59,4.65,0.72,0.38,0.77,0.80,0.48,0.63,1.17,0.48
std,147.74,25.56,"1,903.00","1,340.31",194.94,99.19,135.18,180.02,125.75,126.21,205.30,129.34
min,1.00,0.00,"-8,399.00","-3,453.00","-1,305.00","-1,328.00",-4.00,"-1,010.00","-2,487.00",-15.00,-1.00,"-2,798.00"
25%,134.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
50%,137.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
75%,419.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
max,900.00,100.00,"1,084,309.00","763,512.00","61,066.00","31,034.00","24,471.00","55,651.00","39,311.00","31,628.00","37,164.00","40,366.00"

## df_lieferanten

In [18]:
# Adjust column names

df_lieferanten.columns = df_lieferanten.columns.str.lower()
df_lieferanten.columns = [col.replace(" ", "_") for col in df_lieferanten.columns.tolist()]
df_lieferanten.columns = [col.replace(".", "") for col in df_lieferanten.columns.tolist()]
df_lieferanten.head()

   lfnr            beschreibung
0   NaN                    None
1  0.00                   BOSCH
2  1.00                   HELLA
3  2.00           BOSCH-TELECOM
4  3.00  BASF KÜHLERFROSTSCHUTZ

In [19]:
df_lieferanten.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 379 entries, 0 to 378
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   lfnr          378 non-null    float64
 1   beschreibung  376 non-null    object
dtypes: float64(1), object(1)
memory usage: 6.0+ KB

## df_verkaeufe

In [20]:
# Adjust column names

df_verkaeufe.columns = df_verkaeufe.columns.str.lower()
df_verkaeufe.columns = [col.replace(" ", "_") for col in df_verkaeufe.columns.tolist()]
df_verkaeufe.columns = [col.replace(".", "") for col in df_verkaeufe.columns.tolist()]
df_verkaeufe.head()

,lfr,artnr,ind,beschreibung,gesamt,wen,rgb,str,pas,amb,cha,lan,müh,ros
0,NaN,None,NaN,None,"1,735,669.00","1,031,753.00","91,482.00","140,461.00","88,082.00","94,059.00","40,096.00","91,864.00","83,465.00","74,405.00"
1,0.00,1928498680,0.00,BUCHSENKONTAKT,"38,400.00","38,400.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,52.00,50266496,0.00,"KABELBAND 300X4,8MM SCHWARZ","28,200.00","25,000.00",0.00,0.00,0.00,0.00,"1,400.00",0.00,"1,500.00",300.00
3,0.00,1928405459,0.00,BLINDKONTAKT,"24,000.00","24,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,52.00,50266493,0.00,"KABELBAND 390X4,8MM SCHWARZ","27,722.00","22,900.00",0.00,0.00,0.00,210.00,702.00,"1,000.00","1,600.00","1,310.00"

In [21]:
# Change selected number columns from string to float type
float_columns = ["gesamt", "wen"]

for column in float_columns:
    df_verkaeufe[column] = pd.to_numeric(df_verkaeufe[column].str.replace('.', '').str.replace(',', '.'), errors='coerce')

AttributeError: Can only use .str accessor with string values!

In [22]:
df_verkaeufe["gesamt"] = df_verkaeufe["gesamt"].astype(float)
df_verkaeufe["wen"] = df_verkaeufe["wen"].astype(float)

In [23]:
display(df_verkaeufe.head())
display(df_verkaeufe.info())

,lfr,artnr,ind,beschreibung,gesamt,wen,rgb,str,pas,amb,cha,lan,müh,ros
0,NaN,None,NaN,None,"1,735,669.00","1,031,753.00","91,482.00","140,461.00","88,082.00","94,059.00","40,096.00","91,864.00","83,465.00","74,405.00"
1,0.00,1928498680,0.00,BUCHSENKONTAKT,"38,400.00","38,400.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,52.00,50266496,0.00,"KABELBAND 300X4,8MM SCHWARZ","28,200.00","25,000.00",0.00,0.00,0.00,0.00,"1,400.00",0.00,"1,500.00",300.00
3,0.00,1928405459,0.00,BLINDKONTAKT,"24,000.00","24,000.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,52.00,50266493,0.00,"KABELBAND 390X4,8MM SCHWARZ","27,722.00","22,900.00",0.00,0.00,0.00,210.00,702.00,"1,000.00","1,600.00","1,310.00"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66010 entries, 0 to 66009
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   lfr           66009 non-null  float64
 1   artnr         66009 non-null  object
 2   ind           66009 non-null  float64
 3   beschreibung  66009 non-null  object
 4   gesamt        65536 non-null  float64
 5   wen           65536 non-null  float64
 6   rgb           65536 non-null  float64
 7   str           65536 non-null  float64
 8   pas           65536 non-null  float64
 9   amb           65536 non-null  float64
 10  cha           65536 non-null  float64
 11  lan           65536 non-null  float64
 12  müh           65536 non-null  float64
 13  ros           65536 non-null  float64
dtypes: float64(12), object(2)
memory usage: 7.1+ MB

None

## Build Frameworks for MVP's

In [ ]:
the current spare parts inventory of a specific subsidiary or across all subsidiaries,
the inventory for one, several or all spare part product(s),
which supplier a product was obtained from,
the product's description,
the total number of products which are in stock at a specific subsidiary or across all subsidiaries,
the value of products of a specific subsidiary or across all subsidiaries,

In [65]:
# the current spare parts inventory of a specific subsidiary 

specific_subsidy = 'wen'  # Replace with the subsidiary code you want to filter
specific_subsidy_inventory = df_lagerbestand[['artnr', 'beschr', specific_subsidy]]
print(specific_subsidy_inventory)

# grouped_inventory = specific_subsidy_inventory.groupby('artnr').sum()
# print(grouped_inventory)

             artnr                          beschr        wen
0            Summe                           Summe 763,512.00
1        08.607.83  N CORSA D  1,0L  44KW  BJ 2006       0.00
2        08.607.81  M CORSA D  1,4L  66KW  BJ 2006       0.00
3        08.607.85  N CORSA D  1,4L  66KW  BJ 2006       0.00
4        08.607.80  M CORSA D  1,0L  44KW  BJ 2006       0.00
...            ...                             ...        ...
357825  0986479E79                    BREMSSCHEIBE       3.00
357826      816E85                     ZÜNDLEITUNG       0.00
357827  0986479E87                    BREMSSCHEIBE       0.00
357828  0986479E91                    BREMSSCHEIBE       2.00
357829      816E95                     ZÜNDLEITUNG       0.00

[357830 rows x 3 columns]

In [66]:
# the current spare parts inventory across all subsidiaries

all_subsidies_inventory = df_lagerbestand[['artnr', 'gesamt']]
print(all_subsidies_inventory)

# grouped_inventory = specific_subsidy_inventory.groupby('artnr').sum()
# print(grouped_inventory)

             artnr       gesamt
0            Summe 1,084,309.00
1        08.607.83         0.00
2        08.607.81         0.00
3        08.607.85         0.00
4        08.607.80         0.00
...            ...          ...
357825  0986479E79        17.00
357826      816E85         0.00
357827  0986479E87         0.00
357828  0986479E91         4.00
357829      816E95         0.00

[357830 rows x 2 columns]

In [67]:
# the inventory for one product
# To be done: For-loop

specific_article_number = '08.607.83'  # Replace '08.607.83' with the article number you're interested in

specific_article_inventory = df_lagerbestand[df_lagerbestand['artnr'] == specific_article_number]
specific_article_inventory

,lfnr,artnr,index,beschr,bkz,vpe,stgr,ltz_vk_ges,basispreis,basispr_summe,gesamt,wen,ltz_vk_wen,rgb,ltz_vk_rgb,amb,ltz_vk_amb,cha,ltz_vk_cha,str,ltz_vk_str,pas,ltz_vk_pas,lan,ltz_vk_lan,müh,ltz_vk_müh,ros,ltz_vk_ros
1,430.00,08.607.83,000,"N CORSA D 1,0L 44KW BJ 2006",8,1.00,L20,2018-11-07,None,None,0.00,0.00,NaT,0.00,2018-11-07,0.00,2017-08-08,0.00,2016-04-29,0.00,2017-12-14,0.00,NaT,0.00,2017-08-31,0.00,NaT,0.00,2014-03-26

In [68]:
# the inventory for several products
# to be done: consider using input-function

# Hint from Max:
## x = list(map(int, input("Enter multiple values: ").split()))
## print("List of students: ", x)

article_numbers = ['08.607.83', '08.607.81', '08.607.85']  # Replace with the article numbers you're interested in

specific_articles_inventory = df_lagerbestand[df_lagerbestand['artnr'].isin(article_numbers)]
specific_articles_inventory

,lfnr,artnr,index,beschr,bkz,vpe,stgr,ltz_vk_ges,basispreis,basispr_summe,gesamt,wen,ltz_vk_wen,rgb,ltz_vk_rgb,amb,ltz_vk_amb,cha,ltz_vk_cha,str,ltz_vk_str,pas,ltz_vk_pas,lan,ltz_vk_lan,müh,ltz_vk_müh,ros,ltz_vk_ros
1,430.00,08.607.83,000,"N CORSA D 1,0L 44KW BJ 2006",8,1.00,L20,2018-11-07,None,None,0.00,0.00,NaT,0.00,2018-11-07,0.00,2017-08-08,0.00,2016-04-29,0.00,2017-12-14,0.00,NaT,0.00,2017-08-31,0.00,NaT,0.00,2014-03-26
2,430.00,08.607.81,000,"M CORSA D 1,4L 66KW BJ 2006",8,1.00,L20,2021-08-04,None,None,0.00,0.00,2021-08-04,0.00,2017-07-10,0.00,2021-04-26,0.00,2021-04-28,0.00,2018-09-13,0.00,2019-07-31,0.00,2016-06-24,0.00,NaT,0.00,2015-05-04
3,430.00,08.607.85,000,"N CORSA D 1,4L 66KW BJ 2006",8,1.00,L20,2021-07-14,None,None,0.00,0.00,2021-07-14,0.00,NaT,0.00,2021-04-26,0.00,NaT,0.00,2020-09-29,0.00,2019-07-31,0.00,2018-11-07,0.00,NaT,0.00,NaT

In [69]:
# which supplier a product was obtained from

specific_article_number = '08.607.85'  # Replace '08.607.83' with the article number you're interested in

specific_article_lfnr = df_lagerbestand.loc[df_lagerbestand['artnr'] == specific_article_number, 'lfnr']

specific_article_lfnr_value = specific_article_lfnr.iloc[0]

print(specific_article_lfnr_value)

430.0

In [74]:
# the total number of products which are in stock at a specific subsidiary 

specific_subsidy = 'pas'  # Replace 'rgb' with the subsidiary code you're interested in

specific_subsidy_inventory = df_lagerbestand[specific_subsidy]
total_stock_subsidy = specific_subsidy_inventory.sum()
print(total_stock_subsidy)

47671.0

In [76]:
# the total number of products which are in stock across all subsidiaries 

total_stock_all_subsidiaries = df_lagerbestand['gesamt'].sum()

print(total_stock_all_subsidiaries)

2143138.0

In [77]:
# the value of products of a specific subsidiary 

specific_subsidy = 'rgb'  # Replace 'rgb' with the subsidiary code you're interested in

specific_subsidy_value = df_lagerbestand[specific_subsidy] * df_lagerbestand['basispreis']
total_value_specific_subsidy = specific_subsidy_value.sum()
print(total_value_specific_subsidy)

0

In [ ]:
# the value of products across all subsidiaries
# all_subsidiaries_value =