In [80]:
# call module master_df

from master_df import setup

df_master = setup()

In [123]:
# Other settings

pd.options.display.max_columns = 40

In [124]:
df_master.head(2)

,lfnr,artnr,index,beschreibung,bestellkennzeichen,verp_einheit,stat_gruppe,ltz_vk_ges,basispreis,basispr_summe,gesamt_lager,wen_lager,ltz_vk_wen,rgb_lager,ltz_vk_rgb,amb_lager,ltz_vk_amb,cha_lager,ltz_vk_cha,str_lager,ltz_vk_str,pas_lager,ltz_vk_pas,lan_lager,ltz_vk_lan,müh_lager,ltz_vk_müh,ros_lager,ltz_vk_ros,lieferant,gesamt_vk,wen_vk,rgb_vk,str_vk,pas_vk,amb_vk,cha_vk,lan_vk,müh_vk,ros_vk
0,430,08.607.83,0,"N CORSA D 1,0L 44KW BJ 2006",8,1,L20,2018-11-07,75.36,0.00,0.00,0.00,NaT,0.00,2018-11-07,0.00,2017-08-08,0.00,2016-04-29,0.00,2017-12-14,0.00,NaT,0.00,2017-08-31,0.00,NaT,0.00,2014-03-26,Eberspächer Abgas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,430,08.607.81,0,"M CORSA D 1,4L 66KW BJ 2006",8,1,L20,2021-08-04,93.63,0.00,0.00,0.00,2021-08-04,0.00,2017-07-10,0.00,2021-04-26,0.00,2021-04-28,0.00,2018-09-13,0.00,2019-07-31,0.00,2016-06-24,0.00,NaT,0.00,2015-05-04,Eberspächer Abgas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Build Frameworks for MVP's

In [ ]:
the current spare parts inventory of a specific subsidiary or across all subsidiaries,
the inventory for one, several or all spare part product(s),
which supplier a product was obtained from,
the product's description,
the total number of products which are in stock at a specific subsidiary or across all subsidiaries,
the value of products of a specific subsidiary or across all subsidiaries,

In [136]:
# attempt to get current spare parts inventory of a specific subsidiary where stock is not null
# try out specific subsidy > 0 instead of notnull

specific_subsidy = input('Please enter subsidy:')  # Enter respective subsidiary
specific_subsidy_inventory = df_master[['artnr', 'beschreibung', specific_subsidy]]
grouped_inventory_data_subsidy = specific_subsidy_inventory.groupby('artnr').sum()
filtered_data = grouped_inventory_data_subsidy[grouped_inventory_data_subsidy[specific_subsidy].notnull()]
filtered_data

/var/folders/t0/zqmt1nyn40dfdl2rmlwszfhm0000gn/T/ipykernel_50454/2982392378.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_inventory_data_subsidy = specific_subsidy_inventory.groupby('artnr').sum()

                wen_lager
artnr
000-055              0.00
000-089              0.00
000-094             17.00
000-124              3.00
000-134              0.00
...                   ...
ÜT6832.25.1516       0.00
ÜWM10                0.00
ÜWM12                0.00
ÜWM13                0.00
ÜWM3                 0.00

[343444 rows x 1 columns]

In [134]:
# the current spare parts inventory of a specific subsidiary 

specific_subsidy = input('Please enter subsidy:')  # Enter respective subsidiary
specific_subsidy_inventory = df_master[['artnr', 'beschreibung', specific_subsidy]]
grouped_inventory_data_subsidy = specific_subsidy_inventory.groupby('artnr').sum()
grouped_inventory_data_subsidy

/var/folders/t0/zqmt1nyn40dfdl2rmlwszfhm0000gn/T/ipykernel_50454/3841634831.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_inventory_data_subsidy = specific_subsidy_inventory.groupby('artnr').sum()

                pas_lager
artnr
000-055              0.00
000-089              0.00
000-094              0.00
000-124              0.00
000-134              0.00
...                   ...
ÜT6832.25.1516       0.00
ÜWM10                0.00
ÜWM12                0.00
ÜWM13                0.00
ÜWM3                 0.00

[343444 rows x 1 columns]

In [137]:
# the current spare parts inventory across all subsidiaries

all_subsidies_inventory = df_master[['artnr', 'gesamt_lager']]
grouped_inventory_data_all = all_subsidies_inventory.groupby('artnr').sum()
print(all_subsidies_inventory)

             artnr  gesamt_lager
0        08.607.83          0.00
1        08.607.81          0.00
2        08.607.85          0.00
3        08.607.80          0.00
4        08.607.87          0.00
...            ...           ...
357824  0986479E79         17.00
357825      816E85          0.00
357826  0986479E87          0.00
357827  0986479E91          4.00
357828      816E95          0.00

[357829 rows x 2 columns]

In [106]:
df_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 357829 entries, 0 to 357828
Data columns (total 40 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   lfnr                357829 non-null  int64
 1   artnr               357829 non-null  object
 2   index               357829 non-null  int64
 3   beschreibung        357829 non-null  object
 4   bestellkennzeichen  357829 non-null  object
 5   verp_einheit        357829 non-null  int64
 6   stat_gruppe         357829 non-null  object
 7   ltz_vk_ges          338128 non-null  datetime64[ns]
 8   basispreis          357829 non-null  float64
 9   basispr_summe       357829 non-null  float64
 10  gesamt_lager        325061 non-null  float64
 11  wen_lager           325061 non-null  float64
 12  ltz_vk_wen          204992 non-null  datetime64[ns]
 13  rgb_lager           98303 non-null   float64
 14  ltz_vk_rgb          124822 non-null  datetime64[ns]
 15  amb_lager           98303 non-null   float64
 16  ltz_vk_amb          112562 non-null  datetime64[ns]
 17  cha_lager           32767 non-null   float64
 18  ltz_vk_cha          55833 non-null   datetime64[ns]
 19  str_lager           95685 non-null   float64
 20  ltz_vk_str          149798 non-null  datetime64[ns]
 21  pas_lager           98303 non-null   float64
 22  ltz_vk_pas          70193 non-null   datetime64[ns]
 23  lan_lager           62917 non-null   float64
 24  ltz_vk_lan          89659 non-null   datetime64[ns]
 25  müh_lager           32767 non-null   float64
 26  ltz_vk_müh          77325 non-null   datetime64[ns]
 27  ros_lager           98303 non-null   float64
 28  ltz_vk_ros          112682 non-null  datetime64[ns]
 29  lieferant           357828 non-null  object
 30  gesamt_vk           65532 non-null   float64
 31  wen_vk              65532 non-null   float64
 32  rgb_vk              65532 non-null   float64
 33  str_vk              65532 non-null   float64
 34  pas_vk              65532 non-null   float64
 35  amb_vk              65532 non-null   float64
 36  cha_vk              65532 non-null   float64
 37  lan_vk              65532 non-null   float64
 38  müh_vk              65532 non-null   float64
 39  ros_vk              65532 non-null   float64
dtypes: datetime64[ns](10), float64(22), int64(3), object(5)
memory usage: 111.9+ MB

In [112]:
# check data type of artnr
data_type = type(df_master.loc[0, 'artnr'])
print("Data type of the first row under 'artnr' column:", data_type)

Data type of the first row under 'artnr' column: <class 'str'>

In [141]:
# the inventory for one product

specific_artnr = str(input('Please enter the article number: '))

matching_rows = df_master[df_master['artnr'] == specific_artnr]

if not matching_rows.empty:
    subsidiary_columns = ['wen_lager', 'rgb_lager', 'müh_lager', 'ros_lager','pas_lager','cha_lager','str_lager','lan_lager', 'amb_lager']
    total_stock = 0

    for column in subsidiary_columns:
        total_stock += matching_rows[column].sum()

    print("Total inventory for article", specific_artnr, "across subsidiaries:")
    print(total_stock)
else:
    print("No matching rows found for the specified article number.")

No matching rows found for the specified article number.

In [68]:
# the inventory for several products
# to be done: consider using input-function

# Hint from Max:
## x = list(map(int, input("Enter multiple values: ").split()))
## print("List of students: ", x)

article_numbers = ['08.607.83', '08.607.81', '08.607.85']  # Replace with the article numbers you're interested in

specific_articles_inventory = df_lagerbestand[df_lagerbestand['artnr'].isin(article_numbers)]
specific_articles_inventory

,lfnr,artnr,index,beschr,bkz,vpe,stgr,ltz_vk_ges,basispreis,basispr_summe,gesamt,wen,ltz_vk_wen,rgb,ltz_vk_rgb,amb,ltz_vk_amb,cha,ltz_vk_cha,str,ltz_vk_str,pas,ltz_vk_pas,lan,ltz_vk_lan,müh,ltz_vk_müh,ros,ltz_vk_ros
1,430.00,08.607.83,000,"N CORSA D 1,0L 44KW BJ 2006",8,1.00,L20,2018-11-07,None,None,0.00,0.00,NaT,0.00,2018-11-07,0.00,2017-08-08,0.00,2016-04-29,0.00,2017-12-14,0.00,NaT,0.00,2017-08-31,0.00,NaT,0.00,2014-03-26
2,430.00,08.607.81,000,"M CORSA D 1,4L 66KW BJ 2006",8,1.00,L20,2021-08-04,None,None,0.00,0.00,2021-08-04,0.00,2017-07-10,0.00,2021-04-26,0.00,2021-04-28,0.00,2018-09-13,0.00,2019-07-31,0.00,2016-06-24,0.00,NaT,0.00,2015-05-04
3,430.00,08.607.85,000,"N CORSA D 1,4L 66KW BJ 2006",8,1.00,L20,2021-07-14,None,None,0.00,0.00,2021-07-14,0.00,NaT,0.00,2021-04-26,0.00,NaT,0.00,2020-09-29,0.00,2019-07-31,0.00,2018-11-07,0.00,NaT,0.00,NaT

In [144]:
# which supplier a product was obtained from
# still to be covered if article number got provided by several suppliers

specific_artnr = str(input('Please enter the article number: '))

matching_rows = df_master[df_master['artnr'] == specific_artnr]

if not matching_rows.empty:
    specific_article_lfnr = matching_rows['lfnr'].iloc[0]
    specific_article_supplier = df_master.loc[df_master['lfnr'] == specific_article_lfnr, 'lieferant'].iloc[0]

    print("Supplier for article", specific_artnr, ":")
    print(specific_article_supplier)
else:
    print("No matching rows found for the specified article number.")

Supplier for article 10604-8T7 :
WAECO

In [74]:
# the total number of products which are in stock at a specific subsidiary 

specific_subsidy = 'pas'  # Replace 'rgb' with the subsidiary code you're interested in

specific_subsidy_inventory = df_lagerbestand[specific_subsidy]
total_stock_subsidy = specific_subsidy_inventory.sum()
print(total_stock_subsidy)

47671.0

In [76]:
# the total number of products which are in stock across all subsidiaries 

total_stock_all_subsidiaries = df_lagerbestand['gesamt'].sum()

print(total_stock_all_subsidiaries)

2143138.0

In [77]:
# the value of products of a specific subsidiary 

specific_subsidy = 'rgb'  # Replace 'rgb' with the subsidiary code you're interested in

specific_subsidy_value = df_lagerbestand[specific_subsidy] * df_lagerbestand['basispreis']
total_value_specific_subsidy = specific_subsidy_value.sum()
print(total_value_specific_subsidy)

0

In [ ]:
# the value of products across all subsidiaries
# all_subsidiaries_value =