In [1]:
from master_df_app import setup
from master_df_app import read_dataframe
import pandas as pd

In [2]:
df_lieferanten = read_dataframe('inputs/Lieferantenübersicht.xlsx')

In [3]:
df_lieferanten

    Lfnr                    Beschreibung
1      0                           BOSCH
2      1                           HELLA
3      2                   BOSCH-TELECOM
4      3          BASF KÜHLERFROSTSCHUTZ
5      4                            ALIK
..   ...                             ...
374  801              Lieferant Messe WA
375  803                 Schüller Geräte
376  804                   Centrofaktura
377  900  Dausel Aussendienstmitarbeiter
378  990                             NaN

[378 rows x 2 columns]

In [8]:
df_lieferanten_static = pd.read_excel('inputs/Lieferantenübersicht.xlsx', dtype=str)

In [9]:
df_lieferanten_static

    Lfnr                    Beschreibung
0    NaN                             NaN
1      0                           BOSCH
2      1                           HELLA
3      2                   BOSCH-TELECOM
4      3          BASF KÜHLERFROSTSCHUTZ
..   ...                             ...
374  801              Lieferant Messe WA
375  803                 Schüller Geräte
376  804                   Centrofaktura
377  900  Dausel Aussendienstmitarbeiter
378  990                             NaN

[379 rows x 2 columns]

In [ ]:
df_total[1]

In [ ]:
df_master = df_total[0]
df_lagerbestand = df_total[1]
df_verkaeufe = df_total[2]

In [ ]:
display(df_master['gesamt_lager'].sum())
display(df_lagerbestand['gesamt_lager'].sum())

In [ ]:
df_lieferanten = read_dataframe(lieferanten_pfad)